.Breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Breadcrumb-item {
  display: inline-block;
}

.Breadcrumb-item::after {
  content: ">";
  margin: 0 0.2em;
}

.Breadcrumb-item:last-child::after {
  content: none;
}
