
.ItemContainer {
  padding-left: 2em;
  position: relative;
}

.editing {
  background-color: aqua;
}

.item-content {
  padding: 0.25em;
  cursor: text;
}

.ItemContainer::before {
  content: '·';
  width: 1em;
  height: 1em;
  left: 1em;
  position: absolute;
}
